# Fuctions
 -

In [3]:
#function define
def greet():
    print("hello world")
greet()

hello world

In [2]:
greet()

hello world

In [6]:
def gree_user(name):#parameter
    print(f"welcome {name}") #one string
    print("welcome",name)#two strings because of comma
    
gree_user("nabeel") #argument

welcome nabeel
welcome nabeel

In [20]:
#write a function that tells how many characters,
#words and sentences are there in a paragraph

def text_count(txt):
    words=len(txt.split())
    sentence=len(txt.split('.'))
    char=len(txt)
    print(f"""words: {words}
        sentence: {sentence}
      char: {char}""")
text_count("a quick brown fox jumps over the lazy dog")

words: 9
        sentence: 1
      char: 41

In [8]:
def cal():
    opp=(input("enter opperator: "))
    f=int(input("enter a no: "))
    s=int(input("enter second no: "))
    if opp=="+":
        print(f+s)
    elif opp=='-':
        print(f-s)
    elif (opp=='/') and (s!=0):
        print(f/s)
    elif opp=='*':
        print(f*s)
    else:
        print("not supported")
cal()

enter opperator: /
enter a no: 5
enter second no: 0
not supported

In [29]:
def discount_calc(bill_amt):
    if bill_amt > 30000:
        discount = bill_amt*.25
    elif bill_amt > 25000:
        discount = bill_amt*.20        
    elif bill_amt > 20000:
        discount = bill_amt*.15
    elif bill_amt > 15000:
        discount = bill_amt*.10
    elif bill_amt > 10000:
        discount = bill_amt*.5        
    else:
        discount = bill_amt*0
    return discount

In [30]:
store_items={"rice":3000,"oil":4000,"ghee":4500}

def store():
    
    cart=[]
    amt=0
    while True:
        order=input("enter item name or press q to quit: ")
        if order!="q":
            if order in store_items.keys():
                if(amt+store_items[order])<50000:
                    amt+=store_items[order]
                    cart.append(order)
                    print(cart)
                    print(amt)

                else:
                    print(cart)
                    print(amt)
                    print("your bill amount exceed the limit")
                    return cart,amt,discount_calc(amt)
            else:
                print(f"{order} not in store")
                print(cart)
                print(amt)
                continue
        else:
            break
    return cart,amt,discount_calc(amt)

In [31]:
store()

enter item name or press q to quit: ghee
['ghee']
4500
enter item name or press q to quit: q

(['ghee'], 4500, 0)

In [ ]:
discount_calc(store()[1])

In [35]:
#positioning arguments
def full_name(firstname,middlename,lastname):
    fullname=firstname+middlename+lastname
    return fullname
full_name("nabeel","ahmed","khan")

'nabeelahmedkhan'

In [36]:
#gefault arguments
def full_name(firstname,lastname,middlename=''):
    fullname=firstname+middlename+lastname
    return fullname

In [38]:
full_name("nabeel",middlename="ahmed",lastname="khan")

'nabeelahmedkhan'

In [39]:
full_name("nabeel",middlename="ahmed","khan")#error position argument always will be in last place

SyntaxError: positional argument follows keyword argument (2480363543.py, line 1)

In [3]:
#arbitrarty arguments
def summing(n1,n2,n3=0):
    s=n1+n2+n3
    return s

In [4]:
summing(3,5)

8

In [2]:
def summing(*n):
    s=sum(n)
    return s

In [3]:
summing(1,2,3,4)

10

In [11]:
import mymath
mymath.full_name("nabeel","khan","ahmed")

'nabeelahmedkhan'

# exception handling

In [17]:
num1=int(input("enter a no: "))
num2=int(input("enter a second no: "))
try:
    ans=num1/num2
except ZeroDivisionError:
    print("we cannot divide a number with 0")
else:
    print(ans)

enter a no4
enter a second no3
1.3333333333333333

In [19]:
try:
    num1=int(input("enter a no: "))
    num2=int(input("enter a second no: "))
    ans=num1/num2
except ZeroDivisionError:
    print("we cannot divide a number with 0")
except ValueError:
    print("you can only enter digits")
else:
    print(ans)

enter a no: 5
enter a second no: 5
1.0

In [22]:
try:
    num1=int(input("enter a no: "))
    num2=int(input("enter a second no: "))
    ans=num1/num2
except Exception as e:
    print(e)
else:
    print(ans)

enter a no: 65
enter a second no: 4
16.25

In [28]:
try:
    age=int(input("enter your age: "))
    if age<15 or age>30:
        raise "age restriction error"
except Exception as e:
    print("children and old age not allowed")
else:
    print("ok")

enter your age: 25
ok