In [1]:
import pandas as pd
import numpy as np

In [2]:
car_data=pd.read_csv('car_data.csv')

In [3]:
car_data

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [4]:
car_data.isna().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [5]:
car_data.notnull().sum()

name          892
company       892
year          892
Price         892
kms_driven    840
fuel_type     837
dtype: int64

In [6]:
car_data.dropna(inplace=True)

In [7]:
car_data.duplicated().sum()

92

In [8]:
car_data.drop_duplicates(inplace=True)

In [9]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 745 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        745 non-null    object
 1   company     745 non-null    object
 2   year        745 non-null    object
 3   Price       745 non-null    object
 4   kms_driven  745 non-null    object
 5   fuel_type   745 non-null    object
dtypes: object(6)
memory usage: 40.7+ KB

In [10]:
car_data.name=car_data.name.str.split().str[:3].str.join(" ")#to split the long name of cars_name

In [11]:
car_data.sample(10)

                    name     company  year     Price    kms_driven fuel_type
302  Maruti Suzuki Swift      Maruti  2019  6,10,000        73 kms    Petrol
350          Hyundai i10     Hyundai  2012  2,44,999    38,000 kms    Petrol
214     Mahindra Xylo E4    Mahindra  2012  4,00,000    35,000 kms    Diesel
255  Maruti Suzuki Wagon      Maruti  2003    90,000    45,000 kms    Petrol
109   Maruti Suzuki Alto      Maruti  2012  1,55,000    14,000 kms    Petrol
788  Maruti Suzuki Swift      Maruti  2009  1,20,000    90,000 kms    Diesel
597   Maruti Suzuki Alto      Maruti  2009    90,000    62,000 kms    Petrol
224      Volkswagen Polo  Volkswagen  2015  3,30,000    38,000 kms    Diesel
558  Chevrolet Cruze LTZ   Chevrolet  2014  4,00,000    41,000 kms    Diesel
431      Tata Manza ELAN        Tata  2010  1,55,555  1,11,111 kms    Petrol

In [12]:
car_data.company.unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [13]:
car_data.year=pd.to_datetime(car_data.year) #to convert str to datetime

In [14]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 745 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        745 non-null    object
 1   company     745 non-null    object
 2   year        745 non-null    datetime64[ns]
 3   Price       745 non-null    object
 4   kms_driven  745 non-null    object
 5   fuel_type   745 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 40.7+ KB

In [15]:
car_data

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing,Hyundai,2007-01-01,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550,Mahindra,2006-01-01,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto,Maruti,2018-01-01,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10,Hyundai,2014-01-01,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium,Ford,2014-01-01,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz,Maruti,2011-01-01,"2,70,000","50,000 kms",Petrol
885,Tata Indica V2,Tata,2009-01-01,"1,10,000","30,000 kms",Diesel
886,Toyota Corolla Altis,Toyota,2009-01-01,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM,Tata,2018-01-01,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013-01-01,"3,90,000","40,000 kms",Diesel

In [16]:
car_data=car_data[car_data.Price!='Ask For Price']

In [17]:
car_data.Price.unique()

array(['80,000', '4,25,000', '3,25,000', '5,75,000', '1,75,000',
       '1,90,000', '8,30,000', '2,50,000', '1,82,000', '3,15,000',
       '4,15,000', '3,20,000', '10,00,000', '5,00,000', '3,50,000',
       '1,60,000', '3,10,000', '75,000', '1,00,000', '2,90,000', '95,000',
       '1,80,000', '3,85,000', '1,05,000', '6,50,000', '6,89,999',
       '4,48,000', '5,49,000', '5,01,000', '4,89,999', '2,80,000',
       '3,49,999', '2,84,999', '3,45,000', '4,99,999', '2,35,000',
       '2,49,999', '14,75,000', '3,95,000', '2,20,000', '1,70,000',
       '85,000', '2,00,000', '5,70,000', '1,10,000', '4,48,999',
       '18,91,111', '1,59,500', '3,44,999', '4,49,999', '8,65,000',
       '6,99,000', '3,75,000', '2,24,999', '12,00,000', '1,95,000',
       '3,51,000', '2,40,000', '90,000', '1,55,000', '6,00,000',
       '1,89,500', '2,10,000', '3,90,000', '1,35,000', '16,00,000',
       '7,01,000', '2,65,000', '5,25,000', '3,72,000', '6,35,000',
       '5,50,000', '4,85,000', '3,29,500', '2,51,111', '5,69,999',
       '69,999', '2,99,999', '3,99,999', '4,50,000', '2,70,000',
       '1,58,400', '1,79,000', '1,25,000', '2,99,000', '1,50,000',
       '2,85,000', '3,40,000', '70,000', '2,89,999', '8,49,999',
       '7,49,999', '2,74,999', '9,84,999', '5,99,999', '2,44,999',
       '4,74,999', '2,45,000', '1,69,500', '2,75,000', '3,70,000',
       '1,68,000', '1,45,000', '98,500', '2,09,000', '1,85,000',
       '9,00,000', '6,99,999', '1,99,999', '5,44,999', '1,99,000',
       '5,40,000', '49,000', '7,00,000', '55,000', '8,95,000', '3,55,000',
       '5,65,000', '3,65,000', '40,000', '4,00,000', '3,30,000',
       '5,80,000', '3,79,000', '2,19,000', '5,19,000', '7,30,000',
       '20,00,000', '21,00,000', '14,00,000', '3,11,000', '8,55,000',
       '5,35,000', '1,78,000', '3,00,000', '2,55,000', '5,49,999',
       '3,80,000', '57,000', '4,10,000', '2,25,000', '1,20,000', '59,000',
       '5,99,000', '6,75,000', '72,500', '6,10,000', '2,30,000',
       '5,20,000', '5,24,999', '4,24,999', '6,44,999', '5,84,999',
       '7,99,999', '4,44,999', '6,49,999', '9,44,999', '5,74,999',
       '3,74,999', '1,30,000', '4,01,000', '13,50,000', '1,74,999',
       '2,39,999', '99,999', '3,24,999', '10,74,999', '11,30,000',
       '1,49,000', '7,70,000', '30,000', '3,35,000', '3,99,000', '65,000',
       '1,69,999', '1,65,000', '5,60,000', '9,50,000', '7,15,000',
       '45,000', '9,40,000', '1,55,555', '15,00,000', '4,95,000',
       '8,00,000', '12,99,000', '5,30,000', '14,99,000', '32,000',
       '4,05,000', '7,60,000', '7,50,000', '4,19,000', '1,40,000',
       '15,40,000', '1,23,000', '4,98,000', '4,80,000', '4,88,000',
       '15,25,000', '5,48,900', '7,25,000', '99,000', '52,000',
       '28,00,000', '4,99,000', '3,81,000', '2,78,000', '6,90,000',
       '2,60,000', '90,001', '1,15,000', '15,99,000', '1,59,000',
       '51,999', '2,15,000', '35,000', '11,50,000', '2,69,000', '60,000',
       '4,30,000', '85,00,003', '4,01,919', '4,90,000', '4,24,000',
       '2,05,000', '5,49,900', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [18]:
car_data.sample(10)

,name,company,year,Price,kms_driven,fuel_type
249,Mini Cooper S,Mini,2013-01-01,"18,91,111","13,000 kms",Petrol
480,Tata Sumo Gold,Tata,2014-01-01,"2,50,000","99,000 kms",Diesel
160,Fiat Punto Emotion,Fiat,2012-01-01,"1,69,500","37,200 kms",Diesel
787,Tata Tiago Revotron,Tata,2017-01-01,"4,00,000","31,000 kms",Petrol
782,Hyundai Eon Magna,Hyundai,2017-01-01,"3,00,000","1,600 kms",Petrol
228,Mahindra Thar CRDe,Mahindra,2016-01-01,"7,30,000","29,000 kms",Diesel
453,Mahindra Logan Diesel,Mahindra,2009-01-01,"1,30,000","66,000 kms",Petrol
149,Nissan Sunny,Nissan,2012-01-01,"2,24,999","45,000 kms",Petrol
565,Hyundai Accent GLE,Hyundai,2006-01-01,"90,000","55,000 kms",Petrol
804,Tata Sumo Gold,Tata,2013-01-01,"2,15,000","1,00,000 kms",Petrol

In [24]:
# car_data.Price.astype('int32')

In [25]:
#this code is written correct it convert str price to int price 
car_data.Price=car_data.Price.str.replace(',','').astype('int32')

C:\Users\nabee\AppData\Local\Temp\ipykernel_13432\2181861353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_data.Price=car_data.Price.str.replace(',','').astype('int32')

In [26]:
car_data.Price

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
719    270000
720    110000
721    300000
722    260000
723    390000
Name: Price, Length: 724, dtype: int32

In [27]:
#this is a working code
car_data.kms_driven=car_data.kms_driven.str.replace(',','').str.replace(' kms','').astype('float64')

C:\Users\nabee\AppData\Local\Temp\ipykernel_13432\2680423064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_data.kms_driven=car_data.kms_driven.str.replace(',','').str.replace(' kms','').astype('float64')

In [28]:
car_data.kms_driven

0       45000.0
1          40.0
2       28000.0
3       36000.0
4       41000.0
         ...
719     50000.0
720     30000.0
721    132000.0
722     27000.0
723     40000.0
Name: kms_driven, Length: 724, dtype: float64

In [29]:
car_data

                       name   company       year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai 2007-01-01   80000     45000.0    Petrol
1       Mahindra Jeep CL550  Mahindra 2006-01-01  425000        40.0    Diesel
2         Hyundai Grand i10   Hyundai 2014-01-01  325000     28000.0    Petrol
3    Ford EcoSport Titanium      Ford 2014-01-01  575000     36000.0    Diesel
4                 Ford Figo      Ford 2012-01-01  175000     41000.0    Diesel
..                      ...       ...        ...     ...         ...       ...
719      Maruti Suzuki Ritz    Maruti 2011-01-01  270000     50000.0    Petrol
720          Tata Indica V2      Tata 2009-01-01  110000     30000.0    Diesel
721    Toyota Corolla Altis    Toyota 2009-01-01  300000    132000.0    Petrol
722            Tata Zest XM      Tata 2018-01-01  260000     27000.0    Diesel
723      Mahindra Quanto C8  Mahindra 2013-01-01  390000     40000.0    Diesel

[724 rows x 6 columns]

In [30]:
car_data.reset_index(drop=True,inplace=True)

In [31]:
car_data

                       name   company       year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai 2007-01-01   80000     45000.0    Petrol
1       Mahindra Jeep CL550  Mahindra 2006-01-01  425000        40.0    Diesel
2         Hyundai Grand i10   Hyundai 2014-01-01  325000     28000.0    Petrol
3    Ford EcoSport Titanium      Ford 2014-01-01  575000     36000.0    Diesel
4                 Ford Figo      Ford 2012-01-01  175000     41000.0    Diesel
..                      ...       ...        ...     ...         ...       ...
719      Maruti Suzuki Ritz    Maruti 2011-01-01  270000     50000.0    Petrol
720          Tata Indica V2      Tata 2009-01-01  110000     30000.0    Diesel
721    Toyota Corolla Altis    Toyota 2009-01-01  300000    132000.0    Petrol
722            Tata Zest XM      Tata 2018-01-01  260000     27000.0    Diesel
723      Mahindra Quanto C8  Mahindra 2013-01-01  390000     40000.0    Diesel

[724 rows x 6 columns]

In [32]:
car_data=car_data[car_data.Price<5000000]
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 723 entries, 0 to 723
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        723 non-null    object
 1   company     723 non-null    object
 2   year        723 non-null    datetime64[ns]
 3   Price       723 non-null    int32
 4   kms_driven  723 non-null    float64
 5   fuel_type   723 non-null    object
dtypes: datetime64[ns](1), float64(1), int32(1), object(3)
memory usage: 36.7+ KB

In [120]:
X=car_data[['name','company','kms_driven','fuel_type']]
y=car_data["Price"]

In [121]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(X,y,random_state=0)

In [122]:
from sklearn.linear_model import LinearRegression

In [123]:
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [124]:
car_data.year.astype('string')

0      2007-01-01
1      2006-01-01
2      2014-01-01
3      2014-01-01
4      2012-01-01
          ...
719    2011-01-01
720    2009-01-01
721    2009-01-01
722    2018-01-01
723    2013-01-01
Name: year, Length: 723, dtype: string

In [126]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [127]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                       remainder='passthrough')

In [128]:
Lr=LinearRegression()

In [129]:
pipe=make_pipeline(column_trans,Lr)

In [130]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [131]:
y_pred=pipe.predict(X_train)

In [132]:
predictions=pd.DataFrame({'OriginalPrice':y_train, "PredictedPrice":y_pred})
predictions

     OriginalPrice  PredictedPrice
494         290000    3.922142e+05
644         160000    3.654379e+05
109         340000    2.248930e+05
716         500001    1.222808e+06
101         125000    1.452503e+05
..             ...             ...
708         290000    4.758236e+05
192        1400000    1.436732e+06
630         590000    4.926422e+05
560        1000000    2.551768e+05
685         175000    3.232520e+05

[542 rows x 2 columns]

In [133]:
r2_score(y_train,y_pred)

0.7654352406507956

In [134]:
from sklearn.metrics import mean_absolute_error as mae
mae(y_train,y_pred)

114257.75293175972

In [135]:
y_pred=pipe.predict(X_test)

In [136]:
r2_score(y_test,y_pred)

0.6420855713342253

In [137]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [138]:
scores[np.argmax(scores)]

0.8607271138701122

In [140]:
record=pd.DataFrame(columns=X_test.columns,data=np.array(['Ford Figo','Ford',41000.0,'Diesel']).reshape(1,4))

In [141]:
X_test.columns

Index(['name', 'company', 'kms_driven', 'fuel_type'], dtype='object')

In [142]:
pipe.predict(record)

array([374182.04717931])